/* write your override styles here */
#wall .tag-1 {
    display: none;
}
#wall #tag-2 {
    display: none !important;
}
#tag-3 .slick wicked {
    display: none !important;
}
.parent #tag-4 {
    display: none !important;
}
.parent #tag-5 {
    display: none !important;
}
.parent #tag-6 {
    display: none !important;
}
#tag-7 .slic {
    display: none !important;
}
